<div class="container">
  <h2>Le fantôme</h2>

  <div>
    Message caché : &nbsp; <input type="text" [(ngModel)]='message'> &nbsp; &nbsp; <button class="btn btn-primary"
      (click)='messageCheck()' value="Vérifier">Vérifier</button>
      <div *ngIf="showOK" class="col-sm-3">
        <small id="passwordHelp" class="text-success">
          Bravo
        </small>
      </div>
      <br>
    <div *ngIf="showError" class="col-sm-3">
      <small id="passwordHelp" class="text-danger">
        Réponse fausse
      </small>
    </div>
    <br>
  </div>

  <div *ngIf="nextBtn" style="text-align: center;">
    <button class="btn btn-primary" (click)='next()' value="Vérifier">Continuer</button>
  </div>
</div>