<div style="text-align: center;">

  <video width="320" height="240" autoplay loop (click)='goToHome()'>
    <source src="../../assets/video/start.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>