<div class="container">
  <h2>Lessive rythmée</h2>

  <div>
    Message caché : &nbsp; <input type="text" [(ngModel)]='lessive'> &nbsp; &nbsp; <button class="btn btn-primary"
      (click)='lessiveCheck()' value="Vérifier">Vérifier</button>
      <div *ngIf="showOK1" class="col-sm-3">
        <small id="passwordHelp" class="text-success">
          Bravo
        </small>
      </div>
      <br>
    <div *ngIf="showError1" class="col-sm-3">
      <small id="passwordHelp" class="text-danger">
        Réponse fausse
      </small>
    </div>
    <br>
  </div>

  <div *ngIf="zik">
    Message caché : &nbsp; <input type="number" [(ngModel)]='musique'> &nbsp; &nbsp; <button class="btn btn-primary"
      (click)='musiqueCheck()' value="Vérifier">Vérifier</button>
      <div *ngIf="showOK2" class="col-sm-3">
        <small id="passwordHelp" class="text-success">
          Bravo
        </small>
      </div>
      <br>
    <div *ngIf="showError2" class="col-sm-3">
      <small id="passwordHelp" class="text-danger">
        Réponse fausse
      </small>
    </div>
    <br>
  </div>

  <div *ngIf="nextBtn" style="text-align: center;">
    <button class="btn btn-primary" (click)='next()' value="Vérifier">Continuer</button>
  </div>
</div>