<div class="container">
  <h2>Le roulé boulé</h2>

  <p>Je commence par</p>
  <p>Je domine ABRACADABRA</p>
  <p>Je suis le son de fin d’une chose ou l’on se couche</p>
  <p>Je suis le son d’un fluide incolore et inodore qui constitue l’atmosphère</p>

  <div>
    Je suis : &nbsp; <input type="text" [(ngModel)]='charade'> &nbsp; &nbsp; <button class="btn btn-primary"
      (click)='charadeCheck()' value="Vérifier">Vérifier</button>
      <div *ngIf="showOK1" class="col-sm-3">
        <small id="passwordHelp" class="text-success">
          Bravo
        </small>
      </div>
      <br>
    <div *ngIf="showError1" class="col-sm-3">
      <small id="passwordHelp" class="text-danger">
        Réponse fausse
      </small>
    </div>
    <br>
  </div>
  <br>
  <div *ngIf="pair">
    Mot caché : <input type="text" [(ngModel)]='motCache'> &nbsp; &nbsp; <button class="btn btn-primary"
      (click)='motCacheCheck()' value="Vérifier">Vérifier</button>
      <div *ngIf="showOK2" class="col-sm-3">
        <small id="passwordHelp" class="text-success">
          Bravo
        </small>
      </div>
      <br>
    <div *ngIf="showError2" class="col-sm-3">
      <small id="passwordHelp" class="text-danger">
        Réponse fausse
      </small>
    </div>
    <br>
  </div>

  <div *ngIf="nextBtn" style="text-align: center;">
    <button class="btn btn-primary" (click)='next()' value="Vérifier">Continuer</button>
  </div>

</div>