<div class="container">
  <h2>Les mots croisés</h2>

  <div class="row">
    <div col-2 class="col col-2">
      <p>(3,B) H</p>
    </div>
    <div class="col">
      <p>Blizzard Entertainment jeu</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(8,A) V</p>
    </div>
    <div class="col">
      <img src="../../assets/img/sasuke.JPG">
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(4,D) V</p>
    </div>
    <div class="col">
      <p>Mon rival est Izuku Midoriya</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(1,F) H</p>
    </div>
    <div class="col">
      <p>Epic games : Strong nuit</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(7,D) H</p>
    </div>
    <div class="col">
      <p>Vegeta</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(7,G) H</p>
    </div>
    <div class="col">
      <p>Yes my lord!</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(12,C) V</p>
    </div>
    <div class="col">
      <p>Un coup KO</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(8,I) H</p>
    </div>
    <div class="col">
      <p>Food wars</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(8,K) H</p>
    </div>
    <div class="col">
      <p>Dio & Jo</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(9,H) V</p>
    </div>
    <div class="col">
      <p>3 katanas</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(15,D) H</p>
    </div>
    <div class="col">
      <p>Je mange des pommes</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(16,D) V</p>
    </div>
    <div class="col">
      <p>Il mange des pommes</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(18,D) V</p>
    </div>
    <div class="col">
      <p>J'ai tué les parents de mon ami avec mon ongle</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(2,F) V</p>
    </div>
    <div class="col">
      <p>Roi des pirates</p>
    </div>
  </div> 
  <div class="row">
    <div col-2 class="col col-2">
      <p>(16,K) H</p>
    </div>
    <div class="col">
      <p>Today's date</p>
    </div>
  </div> 

</div>