<div class="container">

  <div>
    <h2 center>Trouve le mot de passe pour continuer</h2>

    <form action="/passe" method="post" role="form"><input name="_csrf" type="hidden"
        value="SirFvfzVWP7T1894nnJnOxG3M997alXlV6GTvHsUucQ">
      <div class="form-group"><label for=""></label>
        <div class="input-icon icon-username"></div>
        <input autofocus="true" class="form-control" id="passe" name="passe" placeholder="Mot de passe" tabindex="1"
          type="text" [(ngModel)]="codeBouleBillard" required>
      </div>
      <div *ngIf="showError" class="col-sm-3">
        <small id="passwordHelp" class="text-danger">
          Mot de passe erroné
        </small>
      </div>
      <br>
      <button class="btn btn-primary btn-lg btn-block" name="commit" tabindex="3" type="submit"
        (click)='checkMotDePasse()' value="Log In">Valider</button>

    </form>
  </div>

  <div>
    <!-- <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
    <button (click)="openModal('custom-modal-2')">Open Modal 2</button> -->
  </div>

  <!-- <jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
  </jw-modal>
  
  <jw-modal id="custom-modal-2">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
  </jw-modal> -->
</div>